armourers_workshop
astralsorcery
cache
coremods
customnpcs
data
journeymap
llibrary
local
logs
patchouli_books
saves
shaderpacks
.ReAuth
BotaniaVars
patchouli_data
WC5/forgeloader-wc5-1.1.zip
WC5/config.zip
